<extend name="Common/header"/>
<block name="title">商城</block>
<block name="link_src">
    <link href="__PUBLIC__/Home/lunbo/css/flickerplate.css"  type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/index_main.css"  type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/time/css/demo.css" type="text/css" media="screen"/>
    <script src="__PUBLIC__/Home/lunbo/js/flickerplate.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/lunbo/js/modernizr-custom-v2.7.1.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/Home/time/js/script.js"></script>
</block>
<block name="main">
    <!--导航 轮播-->
    <div class="header_three">
        <div class="header_three_title">
            <div class="header_three_title_all">
                全部商品
            </div>
            <div class="header_three_title_fl">
                <ul>
                    <li><a href="">服装城</a></li>
                    <li><a href="">电器城</a></li>
                    <li><a href="">团购</a></li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div class="header_three_title_tool">
        <div class="header_three_title_tool_left_menu">
            <ul>
                <foreach name="data.one"  item="v">
                    <li data-index="{$v.id}">{$v.name} <span> > </span></li>
                    <div class="header_three_title_tool_left_div tool_div_{$v.id}">
                    <foreach name="data.two" item="vv">
                        <php>
                            if($vv['pid'] == $v['id']){
                        </php>
                            <div style="padding-bottom: 15px">
                                <div class="header_three_title_tool_left_div_left" style="color: #555">
                                    {$vv.name} <span style="font-weight: normal"> > </span>
                                </div>
                                <div class="header_three_title_tool_left_div_right">
                                    <ul>
                                        <foreach name="data.thr" item="vvv">
                                            <php>
                                                if($vvv['pid'] == $vv['id']){
                                                $id = $this->encryption($vvv['id']);
                                            </php>
                                            <li><a href="{:U('Home/Shop/shop_list',array( 'id' => $id))}">{$vvv.name}</a></li>
                                            <php>}</php>
                                        </foreach>
                                    </ul>
                                </div>
                                <div style="clear: both"></div>
                            </div>
                        <php>
                            }
                        </php>
                    </foreach>
                        <div style="clear: both"></div>
                    </div>
                </foreach>
            </ul>
        </div>





        <!--轮播-->
        <div class="flicker-example" data-block-text="false">
            <ul>
                <li data-background="//img13.360buyimg.com/da/jfs/t2599/249/3745404826/201932/e8783418/5799e3cbNe1d4dee3.jpg">
                    <!--<div class="flick-title">Flickerplate Is Working</div>-->
                    <!--<div class="flick-sub-text">Heaven forbid this package you downloaded is broken. That wouldn't be embarrassing at all.</div>-->
                </li>

                <li data-background="//img10.360buyimg.com/da/jfs/t2863/41/3798069029/290755/ed56604d/579b17a5Ne09938ca.jpg">
                </li>

                <li data-background="//img10.360buyimg.com/da/jfs/t2623/166/3795372603/89561/58852d23/579b0356Nf7e0eac1.jpg">
                </li>
            </ul>
        </div>
        <!--轮播over-->
        <!--快报-->
        <div class="read_quick">
            <div class="read_quick_div">
                <div class="read_quick_title">
                    <span>127快报</span>
                    <span style="float: right;font-size: 12px">更多 ></span>
                    <ul>
                        <li><a href=""><span>[特惠]</span>闪购清仓大促满199减100</a></li>
                        <li><a href=""><span>[公告]</span>华北东北区因强降雨配送延迟 </a></li>
                        <li><a href=""><span>[特惠]</span>闪购清仓大促满199减100</a></li>
                        <li><a href=""><span>[公告]</span>华北东北区因强降雨配送延迟 </a></li>
                        <li><a href=""><span>[特惠]</span>闪购清仓大促满199减100</a></li>
                    </ul>
                </div>
                <div class="bp_div">
                    <ul>
                        <li data-id="1" class="bp_div_no_active bp_div_active"><a href="">话费</a></li>
                        <li data-id="2" class="bp_div_no_active"><a href="">机票</a></li>
                        <li data-id="3" class="bp_div_no_active"><a href="">电影票</a></li>
                        <li data-id="4" class="bp_div_no_active"><a href="">游戏</a></li>
                        <div style="clear: both"></div>
                    </ul>
                </div>
                <div class="bp_info">
                    <div class="bp_info_1">
                       <p>号码 <input type="text"></p>
                       面值 <select name="hf_val" id="">
                       <option value="100" selected>100元</option>
                       <option value="50">50元</option>
                       <option value="20">20元</option>
                       <option value="10">10元</option>
                    </select>
                    </div>
                    <div class="bp_info_2">
                        机票
                    </div>
                    <div class="bp_info_3">
                        电影票
                    </div>
                    <div class="bp_info_4">
                        游戏
                    </div>
                </div>
                <div class="bp_gg">
                    <a href="">
                        <img src="//img11.360buyimg.com/da/jfs/t2647/323/3736131294/23334/d2ef25ff/57997a19N9db89f9f.jpg" alt="" width="250" height="75">
                    </a>
                </div>
            </div>
        </div>
        <!--快报 over-->
        <div style="clear: both"></div>
    </div>
    <!--导航 轮播 结束-->

    <!--今日推荐-->
    <div class="toady_recommend">
        <div class="toady_recommend_left">
            <div class="toady_recommend_left_n">

            </div>
            <span style="color: #555;font-size: 16px">今日推荐</span>
        </div>
        <div class="toady_recommend_right">
            <a class="toady_recommend_an_left"  href="javascrpt:void(0);"> < </a>
           <div class="toady_recommend_right_lb">
               <div class="toady_recommend_left_div">
                   1
               </div>
               <div class="toady_recommend_left_div">
                   2
               </div>
               <div class="toady_recommend_left_div">
                   3
               </div>
               <div class="toady_recommend_left_div">
                   4
               </div>
               <div class="toady_recommend_left_div">
                   5
               </div>
               <div class="toady_recommend_left_div">
                   6
               </div>
               <div class="toady_recommend_left_div">
                   7
               </div>
               <div class="toady_recommend_left_div">
                   8
               </div>
               <div class="toady_recommend_left_div">
                   9
               </div>
               <div class="toady_recommend_left_div">
                   10
               </div>
               <div class="toady_recommend_left_div">
                   11
               </div>
               <div class="toady_recommend_left_div">
                   12
               </div>
           </div>
            <a class="toady_recommend_an_right" href="javascrpt:void(0);"> > </a>
        </div>
    </div>
    <!--今日推荐 over-->
    <!--猜你喜欢-->
    <div class="you_like">
        <div class="you_like_title">
            <h2>猜你喜欢</h2>
            <div style="float: right;line-height: 30px">
                <span>换一批 </span><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>
        <div class="you_like_shop">
            <a href="">
                <div class="you_like_shop_div">
                    <img src="//img11.360buyimg.com/n1/s130x130_jfs/t2119/229/780441585/131700/737964b5/562e071cNd5281854.jpg" alt="">
                    <div>
                        Apple iPad Air 2 平板电脑 9.7英寸（16G WLAN版/A8X 芯片/Retina显示屏/Touch ID技术 MH0W2CH）金色
                    </div>
                    <div class="you_like_shop_price"><i>¥ </i>2888.00</div>
                </div>
            </a>
            <a href="">
                <div class="you_like_shop_div">
                    <img src="//img13.360buyimg.com/n1/s130x130_jfs/t2158/275/1115377524/647696/6c177b0/56792777N23d7cda0.png" alt="">
                    <div>
                        Apple iPad mini 4 平板电脑 7.9英寸（128G WLAN版/A8芯片/Retina显示屏/Touch ID技术 MK9Q2CH）金色
                    </div>
                    <div class="you_like_shop_price"><i>¥ </i>2888.00</div>

                </div>
            </a>
            <a href="">
                <div class="you_like_shop_div">
                    <img src="//img13.360buyimg.com/n1/s130x130_jfs/t2929/227/1931005220/393279/304559cf/5795a1fdNf60743fb.jpg" alt="">
                    <div>
                        【三只松鼠_小贱山楂系列组合674g】小贱山楂片小贱山楂条小贱果丹皮
                    </div>
                    <div class="you_like_shop_price"><i>¥ </i>2888.00</div>

                </div>
            </a>
            <a href="">
                <div class="you_like_shop_div">
                    <img src="//img13.360buyimg.com/n1/s130x130_jfs/t2626/71/2577658687/195091/3a32c151/576b9db7N03c04248.jpg" alt="">
                    <div>
                        暴风TV 超体电视40X 40英寸X战警 金属机身8G闪存平板智能液晶电视机(玫瑰金 暴风会员合约版)
                    </div>
                    <div class="you_like_shop_price"><i>¥ </i>2888.00</div>

                </div>
            </a>
            <a href="">
                <div class="you_like_shop_div">
                    <img src="//img12.360buyimg.com/n1/s130x130_jfs/t2854/169/1441517033/298651/1f2f8ff/573eacadN3ab2c690.jpg" alt="">
                    <div>
                        TCL D49A561U 49英寸 真4K超高清内置WIFI安卓智能LED液晶电视机（黑色）
                    </div>
                    <div class="you_like_shop_price"><i>¥ </i>2888.00</div>

                </div>
            </a>
            <div style="clear: both"></div>
        </div>
    </div>
    <!--猜你喜欢 over-->

    <!--商品 1F 2F 3F-->
    <div class="shop_clothes">
        <div class="shop_clothes_top">
            <div class="shop_clothes_title">
                <h2><i>1F</i>服装鞋包</h2>
            </div>
            <div class="shop_clothes_tab">
                <ul>
                    <li class="shop_clothes_tab_active"><a href="">男装</a></li>
                    <li><a href="">女装</a></li>
                    <li><a href="">鞋靴</a></li>
                    <li><a href="">箱包</a></li>
                    <li><a href="">内衣配饰</a></li>
                    <li><a href="">珠宝首饰</a></li>
                    <li><a href="">奢侈礼品</a></li>
                    <li><a href="">奢华腕表</a></li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="shop_clothes_div">
            <div class="shop_clothes_div_left">
                <div class="shop_clothes_div_left_banner">
                    <a href="">
                        <img src="//img12.360buyimg.com/da/jfs/t2824/148/3827608966/23039/fc21e28e/579a1c2eN28ff6da4.jpg" alt="">
                    </a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <!--商品 1F 2F 3F over-->
</block>
<block name="js">
    <script>
        $(function(){
            $('.flicker-example').flicker({
                arrows: true,
                arrows_constraint: false,
                auto_flick: true,
                auto_flick_delay: 5,
                block_text: true,
                dot_navigation: true,
                dot_alignment: 'center',
                flick_animation: 'transition-slide',
                flick_position: 1,
                inner_width: false,
                theme: 'light'
            });

            $(".header_three_title_tool_left_menu ul li").hover(function () {
                menu_index = $(this).attr("data-index");
                $(this).toggleClass("header_three_title_tool_left_menu_hover");
                $(".tool_div_"+menu_index).toggle();
            });
            $(".header_three_title_tool_left_div").hover(function () {
                $(".header_three_title_tool_left_menu ul li").eq(menu_index - 1).toggleClass("header_three_title_tool_left_menu_hover");
                $(".tool_div_"+menu_index).toggle();
            });
            $(".bp_div ul li").hover(function () {
                var index_id = $(this).attr("data-id");
                $(".bp_info_"+index_id).show().siblings().hide();
                $(this).addClass("bp_div_active").siblings().removeClass("bp_div_active");
            });
            $(".toady_recommend_right a").hover(function () {
                $(this).css("opacity","1");
            },function () {
                $(this).css("opacity","0.3");
            });
            var toady_recommend_an_click_num = 0;
            $(".toady_recommend_an_left").click(function () {
                if(!$(".toady_recommend_right_lb").is(":animated")) {
                    if(toady_recommend_an_click_num == 0){
                        $(".toady_recommend_right_lb").animate({left:"-=2058.4px"}, 300);
                        toady_recommend_an_click_num = 2;

                    }else{
                        $(".toady_recommend_right_lb").animate({left:"+=1029.2px"}, 300);
                        toady_recommend_an_click_num--;
                    }
                }

            });
            $(".toady_recommend_an_right").click(function () {
                if(!$(".toady_recommend_right_lb").is(":animated")) {
                    if(toady_recommend_an_click_num == 2){
                        $(".toady_recommend_right_lb").animate({left:"+=2058.4px"}, 300);
                        toady_recommend_an_click_num = 0;
                    }else{
                        $(".toady_recommend_right_lb").animate({left:"-=1029.2px"}, 300);
                        toady_recommend_an_click_num++;
                    }
                }
            });
            $(".you_like_shop_div").hover(function () {
                if(!$(this).children("img").is(":animated")) {
                    $(this).children("img").animate({left:"10px"}, 300);
                }
            },function () {
                $(this).children("img").animate({left:"-10px"}, 300);
            });
            $(".shop_clothes_tab ul li").hover(function () {
                $(this).addClass("shop_clothes_tab_active").siblings().removeClass("shop_clothes_tab_active");
            })
        });
    </script>
</block>


